__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
.env
.env.docker
.env.example

node_modules
# gcloud credentials
gcloud-credentials.json

.langgraph_api

# langchain
.langgraph_api

*.excalidraw
*.draw
