APP_NAME="MyWebApp"
APP_BASE_URL="http://localhost:8000"

FRONTEND_BASE_URL="http://localhost:5173"

# Auth0
AUTH0_SECRET=YOUR_AUTH0_SECRET
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_AUTH0_CLIENT_SECRET
AUTH0_CALLBACK_URL="http://localhost:8000/auth/callback"

#API_PREFIX="/api/v1"
API_PREFIX=""
ALL_CORS_ORIGINS="*"

GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
GEMINI_API_KEY=YOUR_GOOGLE_API_KEY

GOOGLE_APPLICATION_CREDENTIALS="gcloud-credentials.json"

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=YOUR_GOOGLE_CLOUD_PROJECT
GOOGLE_CLOUD_LOCATION=YOUR_GOOGLE_CLOUD_LOCATION

# Database
DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/ai_documents_db"

# LANGGRAPH
LANGGRAPH_API_URL=http://langgraphapi:5436

# Auth0 FGA
FGA_STORE_ID=YOUR_FGA_STORE_ID
FGA_CLIENT_ID=YOUR_FGA_CLIENT_ID
FGA_CLIENT_SECRET=YOUR_FGA_CLIENT_SECRET
FGA_API_URL=https://api.eu1.fga.dev
FGA_API_AUDIENCE=https://api.eu1.fga.dev/
FGA_API_TOKEN_ISSUER=auth.fga.dev
FGA_AUTHORIZATION_MODEL_ID=YOUR_FGA_AUTHORIZATION_MODEL_ID

# Shop API URL (Optional)
# SHOP_API_URL="http://localhost:3001/api/shop"
# SHOP_API_AUDIENCE="https://api.shop-online-demo.com"
